{% extends 'question_base.html' %}

{% block content %}

<section>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <br>
          <br>
          <h3 class="card-title">{{detail.title}} <small class="card-subtitle mb-2 text-muted">{{detail.pub_date}}</small></h3>
          <p class="lead"> {{detail.body}}</p>
          <div class="float-right">
            <label>글을 삭제하려면 비밀번호를 입력하세요</label>
            <form action="{%url 'question_delete' detail.id%}" method="POST" class="form-inline">
              {% csrf_token %}
              <div class="col-xs-2">
                <input type="password" class="form-control" name="password" placeholder="password">
              </div>
              <input type="submit" class="btn btn-danger" value="삭제">
            </form>
            <br>
            <p class="text-right"><a class="btn btn-primary" href="{%url 'question_list'%}" role="button">이전 화면으로</a></p>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
