{% extends 'question_base.html' %}

{% block content %}

<section>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <br>
          <h3 class="card-title">{{detail.title}}</h3>
          <p class="card-subtitle mb-2 text-muted">{{detail.pub_date}}</p>
          <p class="lead"> {{detail.body}}</p>
          <hr>
          <form method ="POST" action ="{% url 'comment' detail.id %}" class="text-right">
              {% csrf_token %}
              <textarea class="form-control" name="content" rows="1" cols="30" placeholder="댓글"></textarea>
              <br>
              <input class="form-control" type="text" placeholder="작성자" name="writer">
              <br>
              <input class="form-control" type="text" placeholder="비밀번호" name="password">
              <br>
              <input class="btn btn-dark" type="submit" value="댓글달기">
          </form>
          <hr>
          {% for comment in detail.comments.all %}
            <div class="comment">
              <div class="date">{{ comment.pub_date }}</div>
                <a class="btn btn-danger btn-sm float-right" href="{% url 'comment_delete' detail.id comment.id %}">
                  <i class="fas fa-trash-alt"></i>
                </a>
                <strong>{{ comment.writer }}</strong>
                <p>{{ comment.content|linebreaks }}</p>
              </div>
          {% empty %}
            <p>No comments here yet :(</p>
          {% endfor %}
          <hr>
          <div class="float-right">
            <label>글을 삭제하려면 비밀번호를 입력하세요</label>
            <form action="{%url 'question_delete' detail.id%}" method="POST" class="form-inline">
              {% csrf_token %}
              <div class="col-xs-2">
                <input type="password" class="form-control" name="password" placeholder="password">
              </div>
              <input type="submit" class="btn btn-danger" value="삭제">
            </form>
            <br>
            <p class="text-right">
              <a class="btn btn-info" href="{%url 'question_edit' detail.id%}" role="button">수정</a>
              <a class="btn btn-primary" href="{%url 'question_list'%}" role="button">이전 페이지</a>
            </p>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
