{% extends 'question_base.html' %}

{% block content %}
<section id="QnA">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <br>
        <h2 class="section-heading text-uppercase text-center">Q&A</h2>
        <h3 class="section-subheading text-muted text-center">수정할 내용을 입력하세요.</h3>
        <form method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="container col-md-8" style="text-align: center;">
              <input class="form-control" type="text" placeholder="제목" name="title" value="{{post.title}}">
              <br>
              <textarea class="form-control" name="body" rows="10" cols="30" placeholder="본문">{{post.body}}</textarea>
              <br>
              <input class="form-control" type="text" placeholder="작성자" name="writer" value="{{post.writer}}">
              <br>
              <div class="col-xs-2">
                <input type="password" class="form-control" name="password" placeholder="수정하려면 비밀번호를 입력하세요.">
              </div>
              <br>
              <input type="submit" class="btn btn-info" value="수정">
              <a class="btn btn-primary" href="{%url 'question_detail' post.id%}" role="button">이전 페이지</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}
