{% extends 'question_base.html' %}

{% block content %}

<section>
    <div class="container">
        <div class="margin">
            <h3> 제목: {{detail.title}} <small class="text-muted">날짜: {{detail.pub_date}}</small></h3>
        </div>

        <blockquote class="blockquote"> {{detail.body}}</blockquote>
        <div class="center">
            <a href="{%url 'question_list'%}" class="badge badge-primary">첫 화면으로...</a>
            <form action="{%url 'question_delete' detail.id%}" method="POST">
                {% csrf_token %}
                <span>글을 삭제하려면 비밀번호를 입력하세요.</span><input type="password" name="password">
                <input type="submit" value="삭제">
            </form>
            <br>
            <br>
        </div>
    </div>
</section>


{% endblock %}