{% extends 'question_base.html' %}

{% block content %}
<section id="QnA">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <br>
        <h2 class="section-heading text-uppercase text-center">Q&A</h2>
        <h3 class="section-subheading text-muted text-center">질문을 남겨주세요</h3>
        <form method="POST" class="form-horizontal" action="{% url 'question.edit' %}">
            {% csrf_token %}
            <div class="container col-md-8" style="text-align: center;">
              <input class="form-control" type="text" placeholder="제목" name="title">
              <br>
              <textarea class="form-control" name="body" rows="10" cols="30" placeholder="본문"></textarea>
              <br>
              <input class="form-control" type="text" placeholder="작성자" name="writer">
              <br>
              <input class="form-control" type="text" placeholder="비밀번호" name="password">
              <br>
              <input class="btn btn-dark" type="submit" value="제출하기">
              <a class="btn btn-primary" href="{%url 'question_list'%}" role="button">이전 페이지</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>


{% endblock %}
