{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">명지대학교(서울)</div>
      <div class="intro-heading text-uppercase">멋쟁이사자처럼</div>
      <a class="btn btn-primary btn-xl text-uppercase" href="https://apply.likelion.org">지원하기</a>
    </div>
  </div>
</header>

<!-- Contact -->
<section id="Contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Contact</h2>
        <h3 class="section-subheading text-muted">이미지를 눌러보세요!</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <a href="http://pf.kakao.com/_DeNmj/chat"><img src="{% static 'img/kakao.jpg' %}" alt="KakaoTalk" width="100" height="100"></a>
        <h4 class="service-heading">KakaoTalk</h4>
        <p class="text-muted">카카오톡 플러스친구(@likelionmyongji)를 통하여 문의 가능합니다.</p>
      </div>
      <div class="col-md-6">
        <a href="https://m.me/likelionMJU"><img src="{% static 'img/fb.jpg' %}" alt="Facebook Messenger Chatbot" width="100" height="100"></a>
        <h4 class="service-heading">Facebook Messenger Chatbot</h4>
        <p class="text-muted">Django 기반 페이스북 메신저 봇을 통하여 명지대학교(서울) 멋쟁이 사자처럼에 대한 정보를 얻을 수 있습니다.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
